@font-face {
  font-family: "Mosk";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("~/assets/fonts/mosk/mosk-ultra-bold-900.ttf") format("truetype");
}

@font-face {
  font-family: "BiggerDisplay";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/bigger-display/BiggerDisplay.otf") format("opentype");
}

@font-face {
  font-family: "Argesta Hairline";
  src:
    url("~/assets/fonts/argesta/argestahairline-regular-webfont.woff2") format("woff2"),
    url("~/assets/fonts/argesta/argestahairline-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
