@layer base {
  .heading-xl {
    @apply font-biggerDisplay;

    font-size: clamp(84px, 23vw, 144px);
    line-height: 1;

    @media screen(lg) {
      font-size: clamp(192px, 18.75vw, 360px);
    }
  }

  .heading {
    @apply font-biggerDisplay;

    font-size: clamp(36px, 10vw, 65px);
    line-height: 1;

    @media screen(lg) {
      font-size: clamp(51px, 5vw, 96px);
    }
  }
}
